.formWidth
{
  margin: 10px auto;
  text-align: center;
  width: 450px;
  padding: 10px;
}

.header
{
  font-size: 10px;
}

.item-List:hover
{
  background-color: #ccc;
}


.registerImage {
  transition: 0.1s ease-in;
}

.registerImage:hover {
  transform: scale(1.1);
}
